.list-cell:completed {
    -fx-text-fill: 'grey';
    -fx-opacity: 0.7;
}

.list-cell:completed .text {
    -fx-strikethrough: true;
}

.list-cell:due {
    -fx-text-fill: 'red';
}

.list-cell:dueSoon {
    -fx-text-fill: 'orange';
}
